@use '../abstracts/colors.scss';



.parent-wrap{
    width: 60%;
}

.objava-grid{
    display: grid;
    gap: 30px;
    grid-template-columns: 17% 17% 17% 51%;
    margin-top: 50px;

    .grid-col-span-3{
        grid-column: span 3;
    }

    .grid-row-span-2{
        grid-row: span 2;
        align-content: center;
    }

    .objava-naslovna-slika{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .objava-naslov{
        text-align: center;
        font-size: 26px;
        color: colors.$text-blue;
    }


    .objava-tekst{
        text-align: center;

    }
    .objava-footer-tekst{
        text-align: center;
    }

    .objava-footer-slika{
        display: block;
        margin: 15px auto 15px auto;
        width: 50%;
    }
}

@media screen and (max-width: 650px) {
    .objava-grid{
        display: grid;
        gap: 30px;
        grid-template-columns: 50% 50%;
        margin-top: 50px;

        .grid-element:nth-child(3){
            grid-row: 2;
            grid-column: span 2;
        }
        .grid-element:nth-child(9){
            grid-column: span 2;
            grid-row: 7;
        }

        .grid-element:last-of-type{
            margin-bottom: 50px;
        }

        .grid-col-span-3{
            grid-column: span 2;
        }
    
        .grid-row-span-2{
            grid-column: span 2;
            align-content: center;
        }
    
        .objava-naslovna-slika{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
    
        .objava-naslov{
            text-align: center;
            font-size: 26px;
            color: colors.$text-blue;
        }
    
    
        .objava-tekst{
            text-align: center;
    
        }
        .objava-footer-tekst{
            text-align: center;
        }
    
        .objava-footer-slika{
            display: block;
            margin: 15px auto 15px auto;
            width: 50%;
        }
    }
}
