@use '../abstracts/colors.scss';
@use '../abstracts/fonts.scss';

.parent-wrap{
    width: 50%;
    justify-content: center;
    margin: auto;
    .naslov{
        margin: 50px 0px 5px 0px;
        text-align: center;
        font-size: 35px;
        color: colors.$text-blue;
        border-bottom: 3px solid colors.$text-yellow;
        filter: drop-shadow(-20px -20px 20px colors.$text-blue);
    }
}

.projekti-flex-box{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .projekt-container{
        margin: 30px 40px 30px 40px;
        width: 200px;
        height: 250px;
        position: relative;
        text-align: center;
        color: colors.$text-yellow;
        background: rgba(colors.$text-blue, 0.1);
        border-radius: 10px;
        &:last-of-type{
            margin-bottom: 50px;
        }
    }
    .projekt-postotak-container{
        width: 200px;
        height: 200px;
        border-radius: 100px;
        //background: rgba(colors.$text-yellow, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
        transition: all 0.4s ease;
        &:hover{
            transition: all 0.4s ease;
            filter: drop-shadow(-20px -20px 40px colors.$text-yellow);
            font-size: 30px;
        }
        h2{
            color: colors.$text-white;
            position: absolute;
            background: rgba(colors.$text-blue, 0.8);
            border-radius: 10px;
        }
        .projekt-postotak-container-img{
            position: relative;
            width: inherit;
        }
    }
}