$gradient-blue:  linear-gradient(to right, #0083B0, #00B4DB); 
$gradient-yellow:linear-gradient(to right, rgb(223, 169, 66), rgb(249, 169, 101));
$text-white: #FFFFFF;
$text-yellow: #f0a646;
$text-orange: rgb(255,174,66);
$text-blue: #0083B0;
$text-black: #000000;

